@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@{ 
    Layout = null;
}

<div style="text-align: center;padding: 15px;color: #ba1f25;">   
    <h2 class="text-danger">An error occurred while processing your request. Please try again</h2>
    <h2><a class="btn btn-default" href="~/Home/Index"> Back</a></h2>
</div>


